# Created by .ignore support plugin (hsz.mobi)
/.gradle/
target/
/.idea/
/build/
/gradle/
/out/
/loginId.csv
/src/test/resources/loginId.csv
src/main/
/src/test/resources/application.conf
LOGS
*.iml
gradle.properties
results/
gradlew
gradlew.bat
.DS_Store
gatling-results
.
.vscode/