name: Load Test

on:
  workflow_dispatch:
    inputs:
      platform_env:
        description: 'Target environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - int
          - pp
      users:
        description: 'Number of concurrent users'
        required: true
        default: '50'
        type: string
      duration:
        description: 'Test duration (e.g., 10m, 300s)'
        required: true
        default: '10m'
        type: string
      simulation_class:
        description: 'Gatling simulation class'
        required: true
        default: 'uk.gov.dvsa.vol.CreateApplicationSimulation'
        type: string

permissions:
  contents: write
  id-token: write
  checks: write

jobs:
  load-test:
    name: Load Test
    uses: ./.github/workflows/performance-test.yml
    secrets: inherit
    with:
      platform_env: ${{ inputs.platform_env }}
      simulation_class: ${{ inputs.simulation_class }}
      users: ${{ fromJson(inputs.users) }}
      duration: ${{ inputs.duration }}
      ramp_time: "2m"
      batch_timeout_minutes: 90
      aws_role: ${{ vars.ACCOUNT_NONPROD_TEST_OIDC_ROLE }}
      bucket_name: ${{ vars.ACCOUNT_NONPROD_S3_REPORT_BUCKET }}
      bucket_key: ${{ vars.S3_REPORT_BUCKET_KEY }}
      batch_job_queue: ${{ vars.ACCOUNT_NONPROD_BATCH_JOB_QUEUE }}
      batch_job_definition: ${{ vars.ACCOUNT_NONPROD_BATCH_JOB_DEFINITION }}